.home-contain{
    width: 100%;
    margin-top: 20%;
}


.home-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px 32px 30px;
    font-family: 'Sora';
}

.case{
    font-weight: 700;
    font-size: 24px;
    color: #25284B;
}

.view{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #25284B;
}

.product-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* gap: 10px; */
    padding: 16px 50px 20px  50px;
}

.product-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    /* margin-bottom: 64px; */
    font-family: 'Sora';
    
}

.product-card img{
    width: 100%;
    padding: 71px 50px 0px 50px;
}

.card{
    background: #F3F8FC;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
}

.heading{
    font-weight: 600;
    font-size: 24px;
    color: #111222;
}

.sub-heading{
    font-weight: 300;
    font-size: 14px;
    color: #111222;
}

.home-footer{
    width: 100%;
    height: 500px;
    background-color: #25284B;
    font-family: 'Sora';
    margin: 0;

}

@media screen and (min-width: 600px) {

.home-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 128px;
    font-family: 'Sora';
    margin-top: -200px;
}

.product-container{
    width: 100%;
    height: 1300px;
}


.product-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 128px 128px 32px 128px;
    font-family: 'Sora';
}

.case{
    font-weight: 700;
    font-size: 48px;
    color: #25284B;
}

.view{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #25284B;
}

.product-details{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    padding: 32px 128px 60px  128px;
}

.product-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin-bottom: 64px;
    font-family: 'Sora';
    
}

.product-card img{
    width: 100%;
    padding: 71px 50px 0px 50px;
}

.card{
    background: #F3F8FC;
    border-radius: 16px;
    display: flex;
    justify-content: flex-end;
}

.heading{
    font-weight: 600;
    font-size: 24px;
    color: #111222;
}

.sub-heading{
    font-weight: 300;
    font-size: 14px;
    color: #111222;
}

.home-footer{
    width: 100%;
    height: 500px;
    background-color: #25284B;
    font-family: 'Sora';
    margin-top: 50px;
}


}
