.footer-container{
    width: 100%;
    height: 500px;
    background: #25284B;
    margin-top: 45%;
}

.get{
    /* padding: 100px 128px 16px 128px; */
    padding: 30px 100px 30px 150px;
    font-family: 'Sora';
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 340px;
    padding: 50px 0 0 0; */
    padding: 30px 20px 30px 20px;
}

.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: -100%;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    padding: 16px 8px 0px 8px; 
}

.border{
    border-bottom: 1px solid #323665;
    margin: 16px 30px 0px 30px;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
    /* padding: 0px 128px 65px 128px; */
    font-family: 'Sora';
}

.copyright-info{
   width: 428px;
   color: #FFFFFF;
   font-weight: 400;
   font-size: 16px;
   padding-top: 16px;
}

.copyright-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.copyright-socials img{
    padding-right: 8px;
}

.instagram,
.linkdin,
.facebook,
.twitter{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

@media screen and (min-width: 600px) {
   
.footer-container{
    width: 100%;
    height: 500px;
    background: #25284B;
    margin: 0%;
}

.get{
    padding: 100px 128px 16px 128px;
    font-family: 'Sora';
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 340px;
    padding: 32px 128px 60px 128px;
    /* cursor: pointer; */
}

.footer-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    padding:0;
}

.border{
    border-bottom: 1px solid #323665;
    margin: 50px 128px 0px 128px;
}

.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 128px 65px 128px;
    flex-direction: row;
    font-family: 'Sora';
}

.copyright-info{
   width: 100%;
   color: #FFFFFF;
   font-weight: 400;
   font-size: 16px;
   padding: 0;
}

.copyright-socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.copyright-socials img{
    padding-right: 12px;
}

.instagram,
.linkdin,
.facebook,
.twitter{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

}