.navbar-container{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* align-items: center; */ 
    background: #FAFAFA;
    padding: 24px 14px;
    width: 100%;
    height: auto;
    /* gap: 4px; */
    position: fixed;
    
}

.navbar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-main{
    align-self: center;
}
.nav-header{
   display: none;
   
}
.show-nav-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

}

.nav-header a,
.show-nav-header a{
    text-decoration: none;
}

/* .home{
    font-family: 'Sora';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}

.work{
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
} */

.active-switch{
    color: #25284b;
}

.inactive-switch{
    color: #111222;
    opacity: 0.5;
}


@media screen and (min-width: 600px) {
   
.navbar-container{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    background: #FAFAFA;
    padding: 24px 128px;
    /* width: 100%; */
    /* height: 5.75rem;
    gap: 32px; */
    position: fixed;
}

.navbar-logo {
    display: block;
    width: auto;
}

.nav-header, .show-nav-header{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   flex-direction: row;
   gap: 32px;
   font-weight: 400;
   font-size: 16px;
   color: #111222;
}

.nav-main{
    display: none;
}

}